*{
	margin: 0;
	padding: 0;
}

body{
	font-family:  arial;
	color: #6b7980;
}

div#drop_list{
	width: 200px;
	margin: 50px auto 0;
	border: 1px solid #aab4bc;
}

#drop_list h1{
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
	padding-left: 10px;
	width: 188px;
	height: 25px;
	
	border: 1px solid #f3f5f7;
	cursor: pointer;
}
h1.down{
	background: #d1d5d8 url(down.gif) 95% center no-repeat;
}
h1.up{
	background: #d1d5d8 url(up.gif) 95% center no-repeat;
}
#drop_list ul{
	list-style: none;
	display: none;
	background-color: #e9edf2;
}

#drop_list ul a{
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	width: 200px;
	padding-left: 10px;
	display: block;
	text-decoration: none;
	color: #6b7980;
	cursor: pointer;
}

#drop_list ul a:hover{
	background-color: #ffffff;
	text-decoration: underline;
}
